@charset "UTF-8";

/* CSS variable */

:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgb(104, 104, 104, 0.8);
}

body {
    margin: 0;
    height: 100vh;
}

.main-nav ul{
    display: grid;
    padding: 0;
    list-style: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.main-nav a{
    background: var(--primary);
    display: block;
    gap: 40px;
    text-decoration: none;
    padding: 0.8rem;
    text-emphasis: center;
    color: var(--dark);
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: var(--shadow);
    font-family: sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    grid-template-areas: "header header header" "infomation infomation candy" "infomation infomation candy" "footer footer footer";
    height: 100vh;
    margin: 2em; 

}

main {
    grid-area: main;
    background: #ffad;
    border-radius: 20px 20px 20px 20px;
}

section.infomation {
    grid-area: infomation;
    background: #4fcbfb;
    border-radius: 20px 20px 20px 20px;
}

header {
    grid-area: header;
    background: #dfb5b5;
    border-radius: 20px 20px 20px 20px;
}

.home:hover {
    color: #4fcbfb;
}

.candy {
    grid-area: candy;
    background: url('https://scontent.fakl2-1.fna.fbcdn.net/v/t1.6435-9/116819224_1089002351501087_8296447487107945868_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ujzSnOhlB28Q7kNvgGhLT9x&_nc_ht=scontent.fakl2-1.fna&oh=00_AfBQeqpYyErUREfzInZ0Bi3iNmI1eJWNgTN0fe1LQL2MXw&oe=6657D0C8') no-repeat;
    background-size: cover;
    background-position: right;
    background-size: 2fr;
    border-radius: 20px 20px 20px 20px;
}

footer {
    grid-area: footer;
    background: #ff7e89;
    border-radius: 20px 20px 20px 20px;
}

