body {
    margin: 0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.2fr;
    grid-template-rows: 1fr 4fr 3fr 1fr;
    grid-template-areas: "header header header" "infomation infomation candy" "infomation infomation candy" "footer footer footer";
    height: 100vh;
    margin: 2em; 

}

main {
    grid-area: main;
    background: #ffad;
}

section.infomation {
    grid-area: infomation;
    background: #4fcbfb;
}

header {
    grid-area: header;
    background: #dfb5b5;
    border-radius: 40px 40px 0px 0px;
}

.candy {
    grid-area: candy;
    background: url('https://scontent.fakl2-1.fna.fbcdn.net/v/t1.6435-9/116819224_1089002351501087_8296447487107945868_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ujzSnOhlB28Q7kNvgGhLT9x&_nc_ht=scontent.fakl2-1.fna&oh=00_AfBQeqpYyErUREfzInZ0Bi3iNmI1eJWNgTN0fe1LQL2MXw&oe=6657D0C8') no-repeat;
    background-size: cover;
    background-position: right;
    background-size: 2fr;
}

footer {
    grid-area: footer;
    background: #ff7e89;
    border-radius: 0px 0px 40px 40px;
}